/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;800&family=Open+Sans:wght@800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* start variables */
:root{
    --main-color:#fdb921;
    --text-color: #d3a130;
    --transition-duration: 0.4s;
    --section-padding: 60px;
}
/* global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
/* small  */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */
/* start navbar */
nav{
    background-color: #fafafa;
    position: relative;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
    /* position: relative; */
}
nav .logo p{
    font-size:35px;
    font-weight: bold;
    color: var(--main-color);
}
nav .toggle-menu{
    font-size:22px
}
@media (min-width: 991px) {
    nav .toggle-menu{
        display: none;
    }
}
nav form{
    display: flex;
    width: 320px;
    max-width:100%;
}
nav form input[type="text"]{
    padding: 8px 60px 8px 20px;
    font-family: sans-serif;
    margin-right: 0;
    caret-color: var(--main-color);
    border: 1px solid #eee;
    border-right: none;
    border-radius:3px;
    width: calc(100% -35px)
}
nav form button{
    padding: 8px;
    background-color: var(--main-color);
    border-left: none;
    width: 35px;
    border: 1px solid var(--text-color)
}
nav form button i{
    color: white;
}
@media (max-width: 992px) {
    nav form,
    nav ul{
        display: none;
    }
    nav form input[type="text"]{
        padding-right: 30px;
    }
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li:first-child a{
    text-decoration: none;
    color: var(--main-color);
    transition: var(--transition-duration)
}
nav ul li:first-child a:hover{
    color: var(--text-color);
}
nav ul li:last-child a{
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: var(--transition-duration)
}
nav ul li:last-child a:hover{
    background-color: var(--text-color);
}
@media (max-width: 992px) {
    nav ul li{display: block;margin-bottom: 40px;}
    nav ul li:first-child a{
        background-color: var(--main-color);
        color:white;
        padding: 15px 20px;
        border-radius: 3px;
        margin: 20px;
    }
   
}
.menu{
    display: block;  
    width: 100%;
    background-color: #fafafa;
    margin: 15px;
}
/* start header */
header {
    min-height: calc(100vh - 100px);
    background-color: #fafafa;
    background-image:url(../images/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
}
header .header-content h1{
    margin-top: 0;
    color: var(--text-color);
    font-size:70px;
    padding: 40px;
    line-height: 1.2;
}
@media (max-width: 768px) {
    header .header-content h1{
        font-size: 35px;
        padding: 30px;
        text-align: center;
    }
}
/* start coffee-maker secion */
.coffee-maker{
    padding-top: calc(var(--section-padding) + 40px);
    padding-bottom:calc(var(--section-padding) + 40px);
}
.coffee-maker .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    align-items: center;
}
.coffee-maker .coffee-img{
    position: relative;
    width: 425px;
    height: 509px;
}
.coffee-maker .coffee-img::before{
    content:'';
    position: absolute;
    background-color:var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 0;
    z-index: -1;
}
.coffee-maker .coffee-img::after{
    content:'';
    position: absolute;
    top: -30px;
    right: -50px;
    background-color: #ee8d35;
    width: 100px;
    height: 130px;
    z-index:-1;

}
.coffee-maker .coffee-img img{
    max-width: 100%;
    margin-left: 30px;
    
}
@media (max-width: 776px) {
    .coffee-maker .coffee-img {
        width: 300px;
        height: 400px;
    }
    .coffee-maker .coffee-img::before,
    .coffee-maker .coffee-img::after{
        display: none;
    }
    .coffee-maker .coffee-img img{
        margin-left: 10px;
        
    }
}
.coffee-maker .coffee-text{
    text-align: center;
    margin-top: 20px;
    position: relative;
    text-transform: capitalize;
}
.coffee-maker .coffee-text::before{
    content:'';
    position: absolute;
    width: 15%;
    height: 5px;
    left:30%;
    background-color: #ee8d35;
}
.coffee-maker .coffee-text::after{
    content:'';
    position: absolute;
    height: 8px;
    width: 70%;
    left:30%;
    background-color: #ee8d35;
}

.coffee-maker .coffee-text h2{
    font-size: 40px;
    line-height:1.4;
    
}
@media (max-width: 991px) {
    .coffee-maker .coffee-text{
        text-align: left;
        width: 50%;
        
    }
    .coffee-maker .coffee-text::before{
        left: 0;
    }
    .coffee-maker .coffee-text::after{
        width: 100%;
        left: 0;
    }
    .coffee-maker .coffee-text h2{
        font-size: 30px;
    }
}
/* start coffee-product secion */
.coffee-product{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.coffee-product .product-header span{
    color: #23a6f0;
}
.coffee-product .product-header h3{
    font-size: 2rem;
    margin-bottom: var(--section-padding);
    margin-top:20px ;
}

.coffee-product .coffee-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 20px;
}
.coffee-product .coffee-cards .card img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: var(--transition-duration);
    border-radius: 20px;
}
.coffee-product .coffee-cards .card img:hover{
    transform: scale(1.1);
}
.coffee-product .coffee-cards .card .card-detail p,
.coffee-product .coffee-cards .card .card-detail span{
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #d9d5d5;
}
.coffee-product .coffee-cards .card .card-detail p:first-of-type{
    font-size:22px
}
.coffee-product .coffee-cards .card .card-detail p:last-of-type{
    color: #eaeaea;
}
.coffee-product .coffee-cards .card .card-detail p:last-of-type span{
    color: black;
}
.coffee-product .coffee-cards .card .card-detail p:last-of-type i{
    color: var(--main-color);

}
/* start join-us section */
.join-us{
    padding-top: var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 40px);
}
.join-us .join-header{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.join-us form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.join-us form input[type="email"]{
    padding: 15px 70px 15px 20px;
    margin-right: 0;
    caret-color: var(--main-color);
    border: 1px solid #eee;
    background-color: #f9f9f9;
    border-right: none;
    border-radius:3px;
    width: 50%
}
.join-us form button{
    padding: 15px;
    background-color: var(--main-color);
    border-left: none;
    border: 1px solid var(--text-color);
    color: white;
}

/* start footer */
footer{
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 5px;
}